.main-header{
    background: url('../img/background.jpg');
    background-size: cover;
    min-height: 600px;
    background-position: center;
    color: #fff;
}.main-header .active-link{
    color: #d847f1;
    font-weight: bold;
}a.brand-logo{
    font-weight: bolder;
    text-transform: capitalize;
    text-shadow: 1px 4px 4px rgba(255, 255, 255, 0.4);

}.main-header.showcase{
    padding-top: 100px;
}
.section-developers {
    position: relative;
    background: url(../img/code.jpg);
    background-size: cover;
    background-position: center;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
    min-height: 160px;
  }

  .primary-overlay {
    background: rgba(112, 81, 176, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }



/*CUSTOM BY ME*/
.bulb{
    height: 400px;
    width: 400px;
    position: absolute;
    background-image: radial-gradient(circle at center, rgb(255, 255, 255), rgba(255,0,0,0));
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.transparency{
    background-color: rgb(255, 255, 255,0.6) !important;
}